@page
@{
    ViewData["Title"] = "Signed out";
}

<div class="text-center py-5">
    <h1>You're signed out</h1>
    <p>Your TeslaDash session has ended.</p>
    <a class="btn btn-primary" asp-page="/Account/SignIn">Sign in with Microsoft</a>
</div>
